@import './variables';

.initial-screen {
    text-align: center;
    display: block;

    p {
        font-weight: 300;
    }
}

.init-img-container {
    text-align: center;
    margin-top: 2rem;

    img {
        max-width: 20rem;
        border-radius: 50%;
    }
}

.ask-question {
    margin-top: .8rem;
    padding: .4rem .7rem;
    border: 2px solid $white;
    border-radius: .8rem;
    background-color: $black;
    color: $white;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    transition: all .3s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: $white;
        color: $black;
    }
}
